
.userStatus {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    padding: 4px 16px;
    border-bottom: solid 1px #ccc;
    /* flex:; */
}

.userStatusLeft {
    display: flex;
    padding: 8px;
}

.userInfoWrapper {
    text-align: left;
}

.userInfoWrapper .username {
    font-weight: bold;
}

.userInfoWrapper .onlineStatus {
    font-weight: lighter;
}


.callBtn img {
    width: 28px;
}


.callBtn {
    display: flex;
    cursor: pointer;
    border-radius: 32px;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
}

.callBtn:hover {
    background-color: #2199f2;
}


.chatProfilePicture {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 12px;
    border-radius: 50%;
    margin: 0 12px;
    cursor: pointer;
}

.chatProfilePicture img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    clip-path: circle();
}

.rightIcons {
    display: flex;
    font-weight: bold;
    align-items: center;
}
