.rightMessage {
    /* background-color: aquamarine; */
    margin-bottom: 6px;
    display: flex;
    justify-content: right;
}

.messageBox {
    background-color: #2199f2;
    border-radius: 32px;
    padding: 6px 24px;
    text-align: left;
    color: #fff;
}

.rightMessageWrapper {
    max-width: 550px;
    width: fit-content;
}

.messageInfo {
    font-size: small;
    text-align: right;
    font-weight: lighter;
    padding-right: 16px;
}
